body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: rgba(245, 245, 220, 0.42);
}

.jumbotron {
    background-color: rgba(255, 162, 0, 0.06);
}

.navbar-inverse {
    background-color: #3a1800d6;
    border-color: #3a1800d6;
}

.navbar-inverse .navbar-nav > li > a {
        color: bisque;
    }

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}



.text100 {
    min-width: 280px;
    min-height: 100px;
    MAX-height: 100px;
    
}


.imgdetails {
    width: 195px;
    height: 270px;
    text-align: center;
    padding-right: 20px
}



.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    font-size:20px;
    color:darkgoldenrod;
    object-position:left;
}


.rating > span:hover:before,
.rating > span:hover ~ span:before {
    content: "\f005";
    color: darkgoldenrod;
}

.stars {
    font-size: 20px;
    color: darkgoldenrod;
}



.rating > a{
    unicode-bidi: bidi-override;
    direction: rtl;
    font-size: 20px;
    color: darkgoldenrod;
    object-position: left;
    text-decoration: none;
}


    .rating > a:hover:before,
    .rating > a:hover ~ a:before {
        content: "\f005";
        color: darkgoldenrod;
        text-decoration:none;
    }